body {
  background-color: #222233;
  color: #aaccff;
  font-size: 16px;
  background: #222233 url(images/instagram-pic.jpg) no-repeat top center;
}

nav {
  background-color: rgba(0,0,0,.5);
  float: left;
  position: fixed;
  width: 100%;
}

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  font-weight: 900;
  width: 50%;
}

.right {
  float: right;
}

a {
  text-decoration: none;
}

a:link  { color:#0070BB; }
a:visited { color:#0070BA; }
a:hover { color:#0070BC; }
a:active { color:#0070BD; }

h1 {
  font-size: 3em;
}

h3 {
  font-size: 1.5em;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

article {
  padding-top: 100px;
}

p {
  line-height: 1.3;
}

.container {
  margin: 0 auto;
  width: 50%;
}
